
.step-content {
    margin: 0 16px;
}

@media (max-width: 600px) {
    .step-content {
        margin: 0;
    }

    .mu-step-connector {
        padding: 0 12px !important;
    }

    .mu-step-label {
        padding: 0 !important;
    }
}


@media (max-width: 500px) {
    .mu-dialog{
        width: 80%;
    }
}
@media (max-width: 400px) {
    .mu-dialog{
        width: 90%;
    }
}
.mu-dialog-title.scrollable{
    border-bottom: 0;
}
.mu-dialog-actions.scrollable{
    border-top: 0;
}
